# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
pairent_venv/

# ---------------------------
# Local
# ---------------------------
DynamoDB/
local/
test/

# ---------------------------
# IDEs and OS junk
# ---------------------------
# VSCode
.vscode/
dynamodb-local-metadata.json
# Windows
Thumbs.db
# MacOS
.DS_Store
.env